nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  background-color: #4b296f;
  color: #e8fdff;
  display: flex;
  justify-content: space-around;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
}


#nav-bar .forms-wrapper{
  padding: 15px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}

div.forms-wrapper input{
  border-radius: 5px;
}

form .log-link:hover{
  cursor:pointer;
  text-decoration: underline;
}

form .reg-link:hover{
  cursor:pointer;
  text-decoration: underline;
}


span.or{
  margin-left:10px;
  margin-right:10px;
}

.loginbtn, .registerbtn{
  border-radius: 10px;
}

#nav-bar .logo{
  width: 80px;
  height: 80px;
  float:left;
  padding:10px;
}

#nav-bar div{
  margin-left: 5px;
}

#nav-bar .header {
  float: left;
  margin-left: 10px;
  line-height: 1.8;
  font-family: 'Chewy', cursive;
  font-size: 3em;
}

#nav-bar .header:hover {
  text-shadow:
  1px 0px 0px black,
  -1px 0px 0px black,
  0px 1px 0px black,
  0px -1px 0px black;
  cursor: pointer;
  color: white;
}

.btn{
  float: right;
  padding: 10px 10px 10px 10px;
  margin: 15px 5px 15px 5px;
  border-radius: 50% 20% / 10% 40%;
  border: solid;
  border-width: thin;
  border-color: black;
  background-color: #EAEAEA;
  color: #6761A8;
  font-size: 20px;
  height: 50px;
   transition: all .25s linear;
  -o-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
}

#bars{
  display: none;
   transition: all .25s linear;
  -o-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
}

.btn:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

.logo:hover{
  cursor: pointer;
}

@media all and (max-width:414px){
  nav {
    padding-right:15px;
    padding-left: 15px;
    width:414px;
  }
  .button-text{
    display: none;
     transition: all 1s;
  }
  #bars{
    display: inline-block;
     transition: all .25s linear;
  -o-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  }
  .btn{
    padding:10px;
    transition: all 1s;
  }
}




