main.container section.new-tweet {
  background-color: #a18ed8;
  position: relative;
  margin: 1em 0em 0em 0em;
  flex-basis: 380px;
  padding: 10px;
  border-radius: 7px;
}

:focus {
  outline-style: none;
  outline-color: transparent;
}

.new-tweet section.error-container {
  display: none;
}

.show-error {
  display: block;
}

#mytextarea {
  border-radius: 5px;
  border-color: white;
}


#tweetbtn {
  border-radius: 25px;
  background-color: #a18ed8;
  border-color: #a18ed8;
}

#tweetbtn:hover {
  color: green;
  cursor: pointer;
}

.new-tweet h2 {
  margin: 0px 0px 20px 0px;
  border-bottom: solid;
  border-bottom-width: thin;
  color: white;
  text-shadow:
  1px 0px 0px black,
  -1px 0px 0px black,
  0px 1px 0px black,
  0px -1px 0px black;
}

.new-tweet textarea {
  width: 100%;
  padding: 5px;
}

.over-limit {
  color: red;
}

span.counter {
  float: right;
  position: relative;
}

#tweet-container {
  flex-basis: 380px;
}

#tweet-container article.tweet {
  border: solid;
  border-width: 2px;
  border-color: #D7DCE1;
  position: relative;
  margin: 1em 0em 1em 0em;
  flex-basis: 380px;
  border-radius: 9px;
}

article.tweet:hover header h3 {
  opacity: 1;
}

#tweet-container article.tweet:hover {
  border-color: gray;
  box-shadow: 0 0 0.5px 0;
}

article.tweet:hover footer .icons {
  display: inline-block;
}

span.tweetName {
  float: left;
  padding-left: 10px
}

article.tweet header span.at {
  float: right;
  font-size: 15px;
  font-weight: normal;
  color: #878C90;
}

article.tweet header h3 {
  background-color: #FFFFFF;
  margin: 0;
  padding: 10px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  height: 75px;
  opacity: .6;
}

article.tweet section {
  word-wrap: break-word;
}

article.tweet section p {
  height: 80px;
  padding: 10px;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  color: #244751;
}

article.tweet footer {
  padding: 10px;
  margin: 0;
  border-top: solid;
  border-top-width: thin;
  border-top-color: lightgrey;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

article.tweet header img {
  float: left;
  height: 100%;
  border-radius: 10px;
}

article.tweet footer span.icons {
  float: right;
  display: none;
  color: #55A2DC;
}

footer button {
  background-color: #de4939;
  border-radius: 5px;
  color: white;
  border-color: #de4939;
}
footer form.del{
  float:left;
  margin-right: 1.5em;
}

article.tweet footer button:hover {
  color: red;
  background-color: white;
  cursor: pointer;
}


@media all and (max-width:450px) {
  article.tweet footer span.icons {
    display: inline-block;
  }
}