main.container section.new-tweet {
  background-color: #D7DCE1;
  position: relative;
  margin: 4em 2em 0 2em;
  flex-basis: 450px;
  padding: 10px;
  border-radius: 7px;
}

.new-tweet h2 {
  margin: 0px 0px 20px 0px;
  border-bottom: solid;
  border-bottom-width: thin;
}

.new-tweet textarea{
  width: 100%;
  padding: 5px;
}

.over-limit {
  color: red;
}

span.counter {
  float: right;
  position: relative;
}

#tweet-container{
  flex-basis: 450px;
}

#tweet-container article.tweet {
  border: solid;
  border-width: 2px;
  border-color: #D7DCE1;
  position: relative;
  margin: 2em;
  flex-basis: 450px;
  border-radius: 9px;
}

article.tweet:hover header h3{
  opacity: 1;
}

#tweet-container article.tweet:hover{
  border-color: gray;
  box-shadow: 0 0 0.5px 0;
}

article.tweet:hover footer .icons{
  display: inline-block;
}

span.tweetName{
  float:left;
  padding-left: 10px
}

article.tweet header span.at{
  float: right;
  font-size: 15px;
  font-weight: normal;
  color: #878C90;

}

article.tweet header h3 {
  background-color: #D7DCE1;
  margin: 0;
  padding: 10px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  height: 75px;
  opacity: .6;
}


article.tweet section p{
  height: 80px;
  padding: 10px;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  color: #244751;
}

article.tweet footer{
  padding: 10px;
  margin: 0;
  border-top: solid;
  border-top-width: thin;
  border-top-color: lightgrey;
  font-size: 12px;
}

article.tweet header img {
  float:left;
  height: 100%;
  border-radius: 10px;
}

article.tweet footer span.icons{
  float: right;
  display: none;
  color: #55A2DC;
}


